<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
	<title>Lista</title>
	</h:head>
<h:body>
<h2>Lista de Personas</h2>
	<h:dataTable value= "#{verificar.lista}" var="persona" border = "1">
		<h:column>
			<f:facet name="header">
				<h:outputText value="Nombre"></h:outputText>
			</f:facet>
				<h:outputText value="#{persona.nombre}"></h:outputText>
		</h:column>
		<h:column>
			<f:facet name="header">
				<h:outputText value="Numero"></h:outputText>
			</f:facet>
				<h:outputText value="#{persona.numero}"></h:outputText>
		</h:column>
	</h:dataTable>	
</h:body>
</html>
